input[type="file"]::file-selector-button {
  border: 2px solid #bbdefb;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #e3f2fd;
  transition: 1s;
}

input[type="file"]::file-selector-button:hover {
  background-color: #e0f7fa;
  border: 2px solid #01579b;
}
